

  .page {
    padding-left:20px;
  }

  .footer{
    font-size: calc(12px);
  }

  .greeting{
    /* text-align: center; */
    font: 30px arial, sans-serif;
}

.navLogo{
  display:block;
  width:85px;
  /* background-color: black; */
}

.navButton{
  padding:0px;
  width:100px;
  background-color:transparent; 
  border-style: none;    
  outline: none;  
  color:white;
  font-size: 15px;   
}

.navButton:focus{
  background-color: #FFCC11;
  color:black;
  outline: none;
}
