

.cardButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}

.detail{
    align-items: center;
}

.postItem{
    width:80%;
    height:100%;
    padding-left:100px;
    padding-top:30px;
}

.greeting{
    align-items: center;
}

.carddiv{
    padding-bottom:20px;
    width:100%;
}

.content{
    padding-top:50px;
}

.pagination{
    display: flex;
    width:35px;
}

.paginationButton{
    padding:3px;
}