.cover{
    cursor:pointer;
}
.thumbnails{
    height:180px;
    overflow: hidden;
    object-fit: cover;
}

.cardButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}

.detail{
    align-items: center;
}

.postItem{
    width:50%;
    height:100%;
    padding-left:100px;
    padding-top:30px;
}


.loginSection{
    position: absolute;
    right:15px;
}

.postButton{
    align-items: right;
}

.messageContent p{
  height: 18px;
  width: 250px;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 0px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.messageReply {
    resize: none;
}

.textarea {
    resize: none;
}