.navBar{
    padding-left:20px;
    background-color: rgb(110, 3, 110);
    display:flex;
    margin:0px;
    padding-top:15px;
    padding-bottom:5px;
    width: 100%;
    height:100%;
    top:0px;
    z-index:999;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.header{
    position: fixed;
    top:0px;
}

.navLogo{
    min-width:170px;
}

.navbar{
    color: white;
}


.searchBar{
   width:400px;
   height: 35px;
}


#category{
    height:35px;
    /* width:100px; */
}


.navButton{
    padding:0px;
    width:50px;
    background-color:transparent; 
    border-style: none;    
    outline: none;  
    color:white;
    font-size: 15px;   
    }
    
.navButton:hover{
    background-color:transparent;
}
.navButton:focus{
    background-color: #FFCC11;
    outline: none;
}


.loginSection{
    position: absolute; 
    right:15px;
}

.thumbnails{
    height:180px;
    overflow: hidden;
}

.card_div{
    cursor:pointer;
}

.card_text{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:2;
}

.card_user{
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:1;
}
.card_date{
    text-align: right;
    color: grey;
}

.descriptionFormat{
    max-width:200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.footer{
    display:flex;
    position:fixed;
    bottom:0;
    margin:0px;
    padding-top:15px;
    padding-bottom:10px;
    padding-left:20px;
    width:100%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}