.image{
   border: solid 1px lightgray;
   height: 500px;
   align-items:center;
   justify-content:center;
   object-fit: contain;
   cursor: pointer;
}

.textarea{
    outline: 1px solid lightgrey;
    min-height:100px;
    resize: none;
    overflow-x:hidden;
    overflow-y:auto;
        
}

.textarea:empty:before{ 
    content: 'Message content...'; 
    color: gray; 
} 
.textarea:focus:before{
    content:none;
}

.overall{
    width:80%;
}